In [1]:
# Import dependencies
import pandas as pd
import os
import requests
import json
import urllib

In [2]:
# Read in the csv
job_df = pd.read_csv("Resources/DataAnalyst.csv")
job_df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,TRUE
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,TRUE

In [3]:
# Drop columns we do not need for the project
job_df = job_df.drop(columns=['Unnamed: 0', 'Job Description', 'Founded', 'Competitors', 'Easy Apply'])
job_df.head()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD)
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
3,Data Analyst,$37K-$66K (Glassdoor est.),4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD)
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD)

In [4]:
job_df.describe()

            Rating
count  2253.000000
mean      3.160630
std       1.665228
min      -1.000000
25%       3.100000
50%       3.600000
75%       4.000000
max       5.000000

In [5]:
job_df.dropna()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD)
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
3,Data Analyst,$37K-$66K (Glassdoor est.),4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD)
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD)
...,...,...,...,...,...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,Company - Public,Wholesale,Business Services,$10+ billion (USD)
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD)
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)

In [6]:
# Drop rows with -1 in them to see how many jobs left
# NOTE: Rating isn't dropping - needed to polish as an xlsx file
clean_job_df = job_df[job_df["Headquarters"] !="-1"]
clean_job_df = clean_job_df[clean_job_df["Industry"] !="-1"]
clean_job_df = clean_job_df[clean_job_df["Sector"] !="-1"]
clean_job_df = clean_job_df[clean_job_df["Revenue"] !="-1"]
clean_job_df = clean_job_df[clean_job_df["Salary Estimate"] !="-1"]
clean_job_df = clean_job_df[clean_job_df["Rating"] !="-1.0"]
clean_job_df.head(20)

/Applications/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD)
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
3,Data Analyst,$37K-$66K (Glassdoor est.),4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD)
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD)
5,Data Analyst,$37K-$66K (Glassdoor est.),3.9,Point72\n3.9,"New York, NY","Stamford, CT",1001 to 5000 employees,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable
6,Business/Data Analyst (FP&A),$37K-$66K (Glassdoor est.),4.4,Two Sigma\n4.4,"New York, NY","New York, NY",1001 to 5000 employees,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable
7,Data Science Analyst,$37K-$66K (Glassdoor est.),3.7,GNY Insurance Companies\n3.7,"New York, NY","New York, NY",201 to 500 employees,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD)
8,Data Analyst,$37K-$66K (Glassdoor est.),4.0,DMGT\n4.0,"New York, NY","London, United Kingdom",5001 to 10000 employees,Company - Public,Venture Capital & Private Equity,Finance,$1 to $2 billion (USD)
9,"Data Analyst, Merchant Health",$37K-$66K (Glassdoor est.),4.4,Riskified\n4.4,"New York, NY","New York, NY",501 to 1000 employees,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable
10,Data Analyst,$37K-$66K (Glassdoor est.),4.0,NYU Langone Health\n4.0,"New York, NY","New York, NY",10000+ employees,Hospital,Health Care Services & Hospitals,Health Care,$5 to $10 billion (USD)
12,DATA ANALYST,$37K-$66K (Glassdoor est.),3.7,Montefiore Medical\n3.7,"New York, NY","Bronx, NY",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)
13,Senior Data Analyst,$37K-$66K (Glassdoor est.),3.0,Known\n3.0,"New York, NY","New York, NY",201 to 500 employees,Company - Private,Advertising & Marketing,Business Services,$100 to $500 million (USD)
14,Investment Advisory Data Analyst,$37K-$66K (Glassdoor est.),3.4,Advisor Group\n3.4,"Jersey City, NJ","Phoenix, AZ",1001 to 5000 employees,Company - Private,Brokerage Services,Finance,$1 to $5 million (USD)
15,Sustainability Data Analyst,$37K-$66K (Glassdoor est.),3.6,CodeGreen Solutions\n3.6,"New York, NY","New York, NY",1 to 50 employees,Company - Private,Building & Personnel Services,Business Services,Unknown / Non-Applicable
16,Data Analyst,$37K-$66K (Glassdoor est.),3.8,Undertone\n3.8,"New York, NY","New York, NY",201 to 500 employees,Subsidiary or Business Segment,Advertising & Marketing,Business Services,Unknown / Non-Applicable
17,Clinical Data Analyst,$37K-$66K (Glassdoor est.),3.8,NYSTEC\n3.8,"New York, NY","Rome, NY",51 to 200 employees,Nonprofit Organization,Consulting,Business Services,$25 to $50 million (USD)
18,DATA PROGRAMMER/ANALYST,$37K-$66K (Glassdoor est.),3.9,"Education Development Center, Inc.\n3.9","New York, NY","Waltham, MA",501 to 1000 employees,Nonprofit Organization,Research & Development,Business Services,$100 to $500 million (USD)
19,Data Analyst,$37K-$66K (Glassdoor est.),4.9,Teachers Pay Teachers\n4.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
20,"Product Analyst, Data Science",$37K-$66K (Glassdoor est.),4.4,Google\n4.4,"New York, NY","Mountain View, CA",10000+ employees,Company - Public,Internet,Information Technology,$10+ billion (USD)

In [7]:
clean_job_df.describe()

            Rating
count  1894.000000
mean      3.637012
std       0.931203
min      -1.000000
25%       3.300000
50%       3.700000
75%       4.100000
max       5.000000

In [8]:
clean_job_df = clean_job_df.dropna()
clean_job_df.head()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD)
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
3,Data Analyst,$37K-$66K (Glassdoor est.),4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD)
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD)

In [9]:
clean_job_df.describe()

            Rating
count  1894.000000
mean      3.637012
std       0.931203
min      -1.000000
25%       3.300000
50%       3.700000
75%       4.100000
max       5.000000

In [10]:
clean_job_df.to_csv("clean_job.csv", index=False)