In [16]:
# Import our dependencies
%matplotlib inline
from matplotlib import pyplot as plt
from sklearn.datasets import make_classification
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.metrics import classification_report
#import tensorflow as tf
#import seaborn as sns

In [17]:
# Read data from csv
df = pd.read_csv('Resources/super_clean_job.csv')
df.head()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD)
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
3,Data Analyst,$37K-$66K (Glassdoor est.),4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD)
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD)

In [18]:
df.shape

(1856, 11)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1856 entries, 0 to 1855
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          1854 non-null   object
 1   Salary Estimate    1854 non-null   object
 2   Rating             1854 non-null   float64
 3   Company Name       1854 non-null   object
 4   Location           1854 non-null   object
 5   Headquarters       1854 non-null   object
 6   Size               1854 non-null   object
 7   Type of ownership  1854 non-null   object
 8   Industry           1854 non-null   object
 9   Sector             1854 non-null   object
 10  Revenue            1854 non-null   object
dtypes: float64(1), object(10)
memory usage: 159.6+ KB

In [20]:
df.dropna()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD)
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
3,Data Analyst,$37K-$66K (Glassdoor est.),4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD)
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD)
...,...,...,...,...,...,...,...,...,...,...,...
1851,Marketing/Communications - Data Analyst-Marketing,$78K-$104K (Glassdoor est.),4.1,APN Software Services Inc.\n4.1,"Broomfield, CO","Newark, CA",51 to 200 employees,Company - Private,Computer Hardware & Software,Information Technology,$25 to $50 million (USD)
1852,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable
1853,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,Company - Public,Wholesale,Business Services,$10+ billion (USD)
1854,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD)
1855,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)

In [21]:
df.dtypes

Job Title             object
Salary Estimate       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Type of ownership     object
Industry              object
Sector                object
Revenue               object
dtype: object

In [22]:
df.keys()

Index(['Job Title', 'Salary Estimate', 'Rating', 'Company Name', 'Location',
       'Headquarters', 'Size', 'Type of ownership', 'Industry', 'Sector',
       'Revenue'],
      dtype='object')

In [23]:
#seperated[["Salary Estimate","Company", "est"]] = df["Salary Estimate"].str.split(' ', expand=True)
#df = df["Salary Estimate"].str.split(' ', expand=True)

In [25]:
# Salary parsing

#df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.astype(str).lower() else 0 )
#df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary' in x.lower() else 0 )

#df = df[df['Salary Estimate'] !='-1']
#salary = df['Salary Estimate'].apply(lambda x: str(x).split('(')[0])
#minus_Kd = salary.apply(lambda x: x.replace('K', '').replace('$', ''))

#minus_hr = minus_Kd.apply(lambda x: x.lower().replace('per hour', '').replace('employer provided salary', '').replace(':', ''))

#df['min_salary'] = minus_hr.apply(lambda x: int(str(x).split('-')[0]))
#df['max_salary'] = minus_hr.apply(lambda x: int(x.split('-')[1]))
#df['avg_salary'] = (df.min_salary + df.max_salary)/2

ValueError: invalid literal for int() with base 10: 'nan'

In [18]:
# use Qcut and binning.all()g to define the rande 
pd.qcut(df.avg_salary, q=6).value_counts()

(68.5, 78.0]      328
(78.0, 92.5]      323
(51.5, 60.5]      322
(33.499, 51.5]    318
(60.5, 68.5]      308
(92.5, 150.0]     295
Name: avg_salary, dtype: int64

In [19]:
df.dropna(inplace=True)

In [21]:
df.keys()

Index(['Job Title', 'Salary Estimate', 'Rating', 'Company Name', 'Location',
       'Headquarters', 'Size', 'Type of ownership', 'Industry', 'Sector',
       'Revenue', 'hourly', 'employer_prodived', 'min_salary', 'max_salary',
       'avg_salary'],
      dtype='object')

In [22]:
X = df[['avg_salary','Rating','Location','Size','Type of ownership','Industry','Sector','Revenue']]

X

,avg_salary,Rating,Location,Size,Type of ownership,Industry,Sector,Revenue
0,51.5,3.2,"New York, NY",201 to 500 employees,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD)
1,51.5,3.8,"New York, NY",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)
2,51.5,3.4,"New York, NY",1001 to 5000 employees,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
3,51.5,4.1,"New York, NY",201 to 500 employees,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD)
4,51.5,3.9,"New York, NY",501 to 1000 employees,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD)
...,...,...,...,...,...,...,...,...
1889,91.0,4.1,"Broomfield, CO",51 to 200 employees,Company - Private,Computer Hardware & Software,Information Technology,$25 to $50 million (USD)
1890,91.0,2.5,"Denver, CO",51 to 200 employees,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable
1891,91.0,2.9,"Centennial, CO",10000+ employees,Company - Public,Wholesale,Business Services,$10+ billion (USD)
1892,91.0,3.1,"Centennial, CO",201 to 500 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD)
1893,91.0,3.4,"Broomfield, CO",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)

In [23]:
# salary ranges with text removed
y = df['avg_salary']
y

0       51.5
1       51.5
2       51.5
3       51.5
4       51.5
        ...
1889    91.0
1890    91.0
1891    91.0
1892    91.0
1893    91.0
Name: avg_salary, Length: 1894, dtype: float64

In [24]:
# drop the Nan rows, total number of rows from 1856 to now 1852
df.dropna()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,hourly,employer_prodived,min_salary,max_salary,avg_salary
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),0,0,37,66,51.5
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),0,0,37,66,51.5
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,0,0,37,66,51.5
3,Data Analyst,$37K-$66K (Glassdoor est.),4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),0,0,37,66,51.5
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),0,0,37,66,51.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,Marketing/Communications - Data Analyst-Marketing,$78K-$104K (Glassdoor est.),4.1,APN Software Services Inc.\n4.1,"Broomfield, CO","Newark, CA",51 to 200 employees,Company - Private,Computer Hardware & Software,Information Technology,$25 to $50 million (USD),0,0,78,104,91.0
1890,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,0,0,78,104,91.0
1891,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,Company - Public,Wholesale,Business Services,$10+ billion (USD),0,0,78,104,91.0
1892,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),0,0,78,104,91.0
1893,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),0,0,78,104,91.0

In [25]:
#pd.Series(pd.qcut(range(178), 6)).value_counts()
#pd.cut(seperated['avg_salary'], bins=6).value_counts()
#seperated['Salary Range_6'] = pd.qcut(seperated['Salary Range'], q=6, precision = 0)

In [26]:
# One-hot encoding the entire dataframe
X_dummies = pd.get_dummies(X)
print(X_dummies.columns)
X_dummies

Index(['avg_salary', 'Rating', 'Location_Addison, TX', 'Location_Alachua, FL',
       'Location_Alameda, CA', 'Location_Alhambra, CA',
       'Location_Allegheny West, PA', 'Location_Allen, TX',
       'Location_American Fork, UT', 'Location_Anaheim, CA',
       ...
       'Revenue_$10+ billion (USD)', 'Revenue_$100 to $500 million (USD)',
       'Revenue_$2 to $5 billion (USD)', 'Revenue_$25 to $50 million (USD)',
       'Revenue_$5 to $10 billion (USD)', 'Revenue_$5 to $10 million (USD)',
       'Revenue_$50 to $100 million (USD)',
       'Revenue_$500 million to $1 billion (USD)',
       'Revenue_Less than $1 million (USD)',
       'Revenue_Unknown / Non-Applicable'],
      dtype='object', length=386)

,avg_salary,Rating,"Location_Addison, TX","Location_Alachua, FL","Location_Alameda, CA","Location_Alhambra, CA","Location_Allegheny West, PA","Location_Allen, TX","Location_American Fork, UT","Location_Anaheim, CA",...,Revenue_$10+ billion (USD),Revenue_$100 to $500 million (USD),Revenue_$2 to $5 billion (USD),Revenue_$25 to $50 million (USD),Revenue_$5 to $10 billion (USD),Revenue_$5 to $10 million (USD),Revenue_$50 to $100 million (USD),Revenue_$500 million to $1 billion (USD),Revenue_Less than $1 million (USD),Revenue_Unknown / Non-Applicable
0,51.5,3.2,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,51.5,3.8,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,51.5,3.4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,51.5,4.1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,51.5,3.9,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,91.0,4.1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1890,91.0,2.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1891,91.0,2.9,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1892,91.0,3.1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1893,91.0,3.4,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [27]:
# Get the list of columns from the X_dummies dataframe
cols = list(X_dummies.columns.values)
cols

['avg_salary',
 'Rating',
 'Location_Addison, TX',
 'Location_Alachua, FL',
 'Location_Alameda, CA',
 'Location_Alhambra, CA',
 'Location_Allegheny West, PA',
 'Location_Allen, TX',
 'Location_American Fork, UT',
 'Location_Anaheim, CA',
 'Location_Arcadia, CA',
 'Location_Arlington Heights, IL',
 'Location_Arlington, TX',
 'Location_Athens, GA',
 'Location_Aurora, CO',
 'Location_Austin, TX',
 'Location_Azusa, CA',
 'Location_Beech Grove, IN',
 'Location_Bellevue, WA',
 'Location_Bensalem, PA',
 'Location_Berkeley Heights, NJ',
 'Location_Berkeley, CA',
 'Location_Berwyn, PA',
 'Location_Beverly Hills, CA',
 'Location_Blue Bell, PA',
 'Location_Boothwyn, PA',
 'Location_Boulder, CO',
 'Location_Brea, CA',
 'Location_Bridgeview, IL',
 'Location_Broadview, IL',
 'Location_Bronx, NY',
 'Location_Brooklyn, NY',
 'Location_Broomfield, CO',
 'Location_Burbank, CA',
 'Location_Burlingame, CA',
 'Location_Burlingame, KS',
 'Location_Burr Ridge, IL',
 'Location_Camden, NJ',
 'Location_Campbell, CA',
 'Location_Carmel, IN',
 'Location_Carrollton, TX',
 'Location_Cedar Park, TX',
 'Location_Centennial, CO',
 'Location_Cerritos, CA',
 'Location_Chandler, AZ',
 'Location_Charlotte, NC',
 'Location_Chesapeake, VA',
 'Location_Chester Township, PA',
 'Location_Chicago, IL',
 'Location_City of Industry, CA',
 'Location_Columbus, OH',
 'Location_Conshohocken, PA',
 'Location_Coppell, TX',
 'Location_Culver City, CA',
 'Location_Cupertino, CA',
 'Location_DC Ranch, AZ',
 'Location_Dallas, TX',
 'Location_Daly City, CA',
 'Location_Deerfield, IL',
 'Location_Denver, CO',
 'Location_Downers Grove, IL',
 'Location_Doylestown, PA',
 'Location_Draper, UT',
 'Location_Dublin, OH',
 'Location_East Palo Alto, CA',
 'Location_El Cajon, CA',
 'Location_El Segundo, CA',
 'Location_Elk Grove Village, IL',
 'Location_Emeryville, CA',
 'Location_Englewood, CO',
 'Location_Essex Fells, NJ',
 'Location_Evanston, IL',
 'Location_Exton, PA',
 'Location_Fairfield, NJ',
 'Location_Farmers Branch, TX',
 'Location_Feasterville Trevose, PA',
 'Location_Florham Park, NJ',
 'Location_Fort Eustis, VA',
 'Location_Fort Lee, NJ',
 'Location_Fort Mill, SC',
 'Location_Fort Sam Houston, TX',
 'Location_Fort Washington, PA',
 'Location_Fort Worth, TX',
 'Location_Foster City, CA',
 'Location_Franklin Lakes, NJ',
 'Location_Fremont, CA',
 'Location_Gainesville, FL',
 'Location_Gardena, CA',
 'Location_Glendale, AZ',
 'Location_Glendale, CA',
 'Location_Glenview, IL',
 'Location_Grapevine, TX',
 'Location_Greenwood Village, Arapahoe, CO',
 'Location_Hampton, VA',
 'Location_Hanford, CA',
 'Location_Harrison, NY',
 'Location_Haworth, NJ',
 'Location_Henderson, CO',
 'Location_Hercules, CA',
 'Location_Hermosa Beach, CA',
 'Location_Hilliard, OH',
 'Location_Hoboken, NJ',
 'Location_Horsham, PA',
 'Location_Houston, TX',
 'Location_Huntersville, NC',
 'Location_Indian Trail, NC',
 'Location_Indianapolis, IN',
 'Location_Inglewood, CA',
 'Location_Irving, TX',
 'Location_Irwindale, CA',
 'Location_Iselin, NJ',
 'Location_Issaquah, WA',
 'Location_Itasca, IL',
 'Location_Jacksonville, FL',
 'Location_Jeffersonville, IN',
 'Location_Jersey City, NJ',
 'Location_Kent, WA',
 'Location_King of Prussia, PA',
 'Location_Kirkland, WA',
 'Location_Lackland AFB, TX',
 'Location_Lake Success, NY',
 'Location_Lakewood, CO',
 'Location_Lawrence, IN',
 'Location_Lehi, UT',
 'Location_Lewisville, TX',
 'Location_Little Ferry, NJ',
 'Location_Littleton, CO',
 'Location_Lone Tree, CO',
 'Location_Long Beach, CA',
 'Location_Long Island City, NY',
 'Location_Los Angeles, CA',
 'Location_Los Gatos, CA',
 'Location_Louisville, CO',
 'Location_Malvern, PA',
 'Location_Manhasset, NY',
 'Location_Marin City, CA',
 'Location_Marina del Rey, CA',
 'Location_Marlton, NJ',
 'Location_Maywood, IL',
 'Location_Menlo Park, CA',
 'Location_Mesa, AZ',
 'Location_Millbrae, CA',
 'Location_Milpitas, CA',
 'Location_Montvale, NJ',
 'Location_Moorestown, NJ',
 'Location_Mooresville, NC',
 'Location_Mount Laurel, NJ',
 'Location_Mount Vernon, NY',
 'Location_Mountain View, CA',
 'Location_New York, NY',
 'Location_Newark, CA',
 'Location_Newark, NJ',
 'Location_Newport News, VA',
 'Location_Newtown Square, PA',
 'Location_Norfolk, VA',
 'Location_Northbrook, IL',
 'Location_Northfield, IL',
 'Location_Northlake, IL',
 'Location_Northridge, CA',
 'Location_Novato, CA',
 'Location_Oak Brook, IL',
 'Location_Oakland, CA',
 'Location_Palo Alto, CA',
 'Location_Paoli, PA',
 'Location_Parsippany, NJ',
 'Location_Pasadena, CA',
 'Location_Pasadena, TX',
 'Location_Pearland, TX',
 'Location_Philadelphia, PA',
 'Location_Phoenix, AZ',
 'Location_Pico Rivera, CA',
 'Location_Plano, TX',
 'Location_Pleasanton, CA',
 'Location_Plymouth Meeting, PA',
 'Location_Portsmouth, VA',
 'Location_Queens Village, NY',
 'Location_Radnor, PA',
 'Location_Redmond, WA',
 'Location_Redwood City, CA',
 'Location_Reedley, CA',
 'Location_Renton, WA',
 'Location_Richardson, TX',
 'Location_Ridley Park, PA',
 'Location_Riverton, UT',
 'Location_Roanoke, TX',
 'Location_Rolling Meadows, IL',
 'Location_Round Rock, TX',
 'Location_Salt Lake City, UT',
 'Location_San Antonio, TX',
 'Location_San Diego, CA',
 'Location_San Francisco, CA',
 'Location_San Jose, CA',
 'Location_San Mateo, CA',
 'Location_San Rafael, CA',
 'Location_San Ramon, CA',
 'Location_Santa Clara, CA',
 'Location_Santa Monica, CA',
 'Location_Scottsdale, AZ',
 'Location_Seattle, WA',
 'Location_Secaucus, NJ',
 'Location_Smithfield, VA',
 'Location_South Plainfield, NJ',
 'Location_South San Francisco, CA',
 'Location_Southlake, TX',
 'Location_Spring, TX',
 'Location_Stafford, TX',
 'Location_Stanford, CA',
 'Location_Staten Island, NY',
 'Location_Suffolk, VA',
 'Location_Sugar Land, TX',
 'Location_Summit, NJ',
 'Location_Sunnyvale, CA',
 'Location_Tarrant, TX',
 'Location_Tempe, AZ',
 'Location_Topeka, KS',
 'Location_Torrance, CA',
 'Location_Union City, CA',
 'Location_Venice, CA',
 'Location_Virginia Beach, VA',
 'Location_Visalia, CA',
 'Location_Walnut Creek, CA',
 'Location_Wayne, PA',
 'Location_Weehawken, NJ',
 'Location_West Chester, PA',
 'Location_West Conshohocken, PA',
 'Location_West Jordan, UT',
 'Location_West Orange, NJ',
 'Location_West Point, PA',
 'Location_Westerville, OH',
 'Location_Westlake, TX',
 'Location_Whippany, NJ',
 'Location_Whitestown, IN',
 'Location_Whittier, CA',
 'Location_Wilmington, DE',
 'Location_Woodbridge, NJ',
 'Location_Woodcliff Lake, NJ',
 'Location_Woodland Hills, CA',
 'Location_Woodridge, IL',
 'Location_Yorktown, VA',
 'Size_1 to 50 employees',
 'Size_10000+ employees',
 'Size_1001 to 5000 employees',
 'Size_201 to 500 employees',
 'Size_5001 to 10000 employees',
 'Size_501 to 1000 employees',
 'Size_51 to 200 employees',
 'Size_Unknown',
 'Type of ownership_College / University',
 'Type of ownership_Company - Private',
 'Type of ownership_Company - Public',
 'Type of ownership_Contract',
 'Type of ownership_Franchise',
 'Type of ownership_Government',
 'Type of ownership_Hospital',
 'Type of ownership_Nonprofit Organization',
 'Type of ownership_Other Organization',
 'Type of ownership_Private Practice / Firm',
 'Type of ownership_School / School District',
 'Type of ownership_Self-employed',
 'Type of ownership_Subsidiary or Business Segment',
 'Type of ownership_Unknown',
 'Industry_Accounting',
 'Industry_Advertising & Marketing',
 'Industry_Aerospace & Defense',
 'Industry_Architectural & Engineering Services',
 'Industry_Audiovisual',
 'Industry_Automotive Parts & Accessories Stores',
 'Industry_Banks & Credit Unions',
 'Industry_Beauty & Personal Accessories Stores',
 'Industry_Biotech & Pharmaceuticals',
 'Industry_Brokerage Services',
 'Industry_Building & Personnel Services',
 'Industry_Cable, Internet & Telephone Providers',
 'Industry_Casual Restaurants',
 'Industry_Catering & Food Service Contractors',
 'Industry_Chemical Manufacturing',
 'Industry_Colleges & Universities',
 'Industry_Commercial Equipment Repair & Maintenance',
 'Industry_Computer Hardware & Software',
 'Industry_Construction',
 'Industry_Consulting',
 'Industry_Consumer Electronics & Appliances Stores',
 'Industry_Consumer Product Rental',
 'Industry_Consumer Products Manufacturing',
 'Industry_Convenience Stores & Truck Stops',
 'Industry_Department, Clothing, & Shoe Stores',
 'Industry_Drug & Health Stores',
 'Industry_Education Training Services',
 'Industry_Electrical & Electronic Manufacturing',
 'Industry_Energy',
 'Industry_Enterprise Software & Network Solutions',
 'Industry_Express Delivery Services',
 'Industry_Federal Agencies',
 'Industry_Financial Analytics & Research',
 'Industry_Financial Transaction Processing',
 'Industry_Food & Beverage Manufacturing',
 'Industry_Food & Beverage Stores',
 'Industry_Gambling',
 'Industry_Gas Stations',
 'Industry_General Merchandise & Superstores',
 'Industry_General Repair & Maintenance',
 'Industry_Grocery Stores & Supermarkets',
 'Industry_Health Care Products Manufacturing',
 'Industry_Health Care Services & Hospitals',
 'Industry_Health Fundraising Organizations',
 'Industry_Health, Beauty, & Fitness',
 'Industry_Home Centers & Hardware Stores',
 'Industry_Hotels, Motels, & Resorts',
 'Industry_IT Services',
 'Industry_Industrial Manufacturing',
 'Industry_Insurance Agencies & Brokerages',
 'Industry_Insurance Carriers',
 'Industry_Internet',
 'Industry_Investment Banking & Asset Management',
 'Industry_K-12 Education',
 'Industry_Legal',
 'Industry_Lending',
 'Industry_Logistics & Supply Chain',
 'Industry_Membership Organizations',
 'Industry_Metals Brokers',
 'Industry_Miscellaneous Manufacturing',
 'Industry_Motion Picture Production & Distribution',
 'Industry_Municipal Governments',
 'Industry_News Outlet',
 'Industry_Oil & Gas Services',
 'Industry_Other Retail Stores',
 'Industry_Pet & Pet Supplies Stores',
 'Industry_Preschool & Child Care',
 'Industry_Publishing',
 'Industry_Real Estate',
 'Industry_Research & Development',
 'Industry_Security Services',
 'Industry_Social Assistance',
 'Industry_Sporting Goods Stores',
 'Industry_Sports & Recreation',
 'Industry_Staffing & Outsourcing',
 'Industry_State & Regional Agencies',
 'Industry_Stock Exchanges',
 'Industry_TV Broadcast & Cable Networks',
 'Industry_Telecommunications Services',
 'Industry_Transportation Equipment Manufacturing',
 'Industry_Transportation Management',
 'Industry_Truck Rental & Leasing',
 'Industry_Trucking',
 'Industry_Utilities',
 'Industry_Vehicle Dealers',
 'Industry_Venture Capital & Private Equity',
 'Industry_Video Games',
 'Industry_Wholesale',
 'Sector_Accounting & Legal',
 'Sector_Aerospace & Defense',
 'Sector_Arts, Entertainment & Recreation',
 'Sector_Biotech & Pharmaceuticals',
 'Sector_Business Services',
 'Sector_Construction, Repair & Maintenance',
 'Sector_Consumer Services',
 'Sector_Education',
 'Sector_Finance',
 'Sector_Government',
 'Sector_Health Care',
 'Sector_Information Technology',
 'Sector_Insurance',
 'Sector_Manufacturing',
 'Sector_Media',
 'Sector_Mining & Metals',
 'Sector_Non-Profit',
 'Sector_Oil, Gas, Energy & Utilities',
 'Sector_Real Estate',
 'Sector_Restaurants, Bars & Food Services',
 'Sector_Retail',
 'Sector_Telecommunications',
 'Sector_Transportation & Logistics',
 'Sector_Travel & Tourism',
 'Revenue_$1 to $2 billion (USD)',
 'Revenue_$1 to $5 million (USD)',
 'Revenue_$10 to $25 million (USD)',
 'Revenue_$10+ billion (USD)',
 'Revenue_$100 to $500 million (USD)',
 'Revenue_$2 to $5 billion (USD)',
 'Revenue_$25 to $50 million (USD)',
 'Revenue_$5 to $10 billion (USD)',
 'Revenue_$5 to $10 million (USD)',
 'Revenue_$50 to $100 million (USD)',
 'Revenue_$500 million to $1 billion (USD)',
 'Revenue_Less than $1 million (USD)',
 'Revenue_Unknown / Non-Applicable']

In [29]:
# You need to reset the column order for the colunmn elements making up the "Size", "Type of Ownership",
# and the "Revenue" columns. Otherwise the "Size", "Type of Ownership" and "Revenue" appear in some type of 
# non-logical order.
cols2 = ['Rating',
 'Location_Addison, TX',
 'Location_Alachua, FL',
 'Location_Alameda, CA',
 'Location_Alhambra, CA',
 'Location_Allegheny West, PA',
 'Location_Allen, TX',
 'Location_American Fork, UT',
 'Location_Anaheim, CA',
 'Location_Arcadia, CA',
 'Location_Arlington Heights, IL',
 'Location_Arlington, TX',
 'Location_Athens, GA',
 'Location_Aurora, CO',
 'Location_Austin, TX',
 'Location_Azusa, CA',
 'Location_Beech Grove, IN',
 'Location_Bellevue, WA',
 'Location_Bensalem, PA',
 'Location_Berkeley Heights, NJ',
 'Location_Berkeley, CA',
 'Location_Berwyn, PA',
 'Location_Beverly Hills, CA',
 'Location_Blue Bell, PA',
 'Location_Boothwyn, PA',
 'Location_Boulder, CO',
 'Location_Brea, CA',
 'Location_Bridgeview, IL',
 'Location_Broadview, IL',
 'Location_Bronx, NY',
 'Location_Brooklyn, NY',
 'Location_Broomfield, CO',
 'Location_Burbank, CA',
 'Location_Burlingame, CA',
 'Location_Burlingame, KS',
 'Location_Camden, NJ',
 'Location_Campbell, CA',
 'Location_Carmel, IN',
 'Location_Carrollton, TX',
 'Location_Cedar Park, TX',
 'Location_Centennial, CO',
 'Location_Cerritos, CA',
 'Location_Chandler, AZ',
 'Location_Charlotte, NC',
 'Location_Chesapeake, VA',
 'Location_Chester Township, PA',
 'Location_Chicago, IL',
 'Location_City of Industry, CA',
 'Location_Columbus, OH',
 'Location_Conshohocken, PA',
 'Location_Coppell, TX',
 'Location_Culver City, CA',
 'Location_Cupertino, CA',
 'Location_DC Ranch, AZ',
 'Location_Dallas, TX',
 'Location_Daly City, CA',
 'Location_Deerfield, IL',
 'Location_Denver, CO',
 'Location_Downers Grove, IL',
 'Location_Doylestown, PA',
 'Location_Draper, UT',
 'Location_Dublin, OH',
 'Location_East Palo Alto, CA',
 'Location_El Cajon, CA',
 'Location_El Segundo, CA',
 'Location_Elk Grove Village, IL',
 'Location_Emeryville, CA',
 'Location_Englewood, CO',
 'Location_Essex Fells, NJ',
 'Location_Evanston, IL',
 'Location_Exton, PA',
 'Location_Farmers Branch, TX',
 'Location_Feasterville Trevose, PA',
 'Location_Florham Park, NJ',
 'Location_Fort Eustis, VA',
 'Location_Fort Lee, NJ',
 'Location_Fort Mill, SC',
 'Location_Fort Washington, PA',
 'Location_Fort Worth, TX',
 'Location_Foster City, CA',
 'Location_Franklin Lakes, NJ',
 'Location_Fremont, CA',
 'Location_Gainesville, FL',
 'Location_Gardena, CA',
 'Location_Glendale, AZ',
 'Location_Glendale, CA',
 'Location_Glenview, IL',
 'Location_Grapevine, TX',
 'Location_Greenwood Village, Arapahoe, CO',
 'Location_Hampton, VA',
 'Location_Hanford, CA',
 'Location_Harrison, NY',
 'Location_Haworth, NJ',
 'Location_Henderson, CO',
 'Location_Hercules, CA',
 'Location_Hilliard, OH',
 'Location_Hoboken, NJ',
 'Location_Horsham, PA',
 'Location_Houston, TX',
 'Location_Huntersville, NC',
 'Location_Indianapolis, IN',
 'Location_Inglewood, CA',
 'Location_Irving, TX',
 'Location_Irwindale, CA',
 'Location_Iselin, NJ',
 'Location_Issaquah, WA',
 'Location_Itasca, IL',
 'Location_Jacksonville, FL',
 'Location_Jeffersonville, IN',
 'Location_Jersey City, NJ',
 'Location_Kent, WA',
 'Location_King of Prussia, PA',
 'Location_Kirkland, WA',
 'Location_Lackland AFB, TX',
 'Location_Lake Success, NY',
 'Location_Lakewood, CO',
 'Location_Lawrence, IN',
 'Location_Lehi, UT',
 'Location_Lewisville, TX',
 'Location_Little Ferry, NJ',
 'Location_Littleton, CO',
 'Location_Lone Tree, CO',
 'Location_Long Beach, CA',
 'Location_Long Island City, NY',
 'Location_Los Angeles, CA',
 'Location_Los Gatos, CA',
 'Location_Louisville, CO',
 'Location_Malvern, PA',
 'Location_Manhasset, NY',
 'Location_Marin City, CA',
 'Location_Marina del Rey, CA',
 'Location_Marlton, NJ',
 'Location_Maywood, IL',
 'Location_Menlo Park, CA',
 'Location_Mesa, AZ',
 'Location_Millbrae, CA',
 'Location_Milpitas, CA',
 'Location_Montvale, NJ',
 'Location_Moorestown, NJ',
 'Location_Mooresville, NC',
 'Location_Mount Laurel, NJ',
 'Location_Mount Vernon, NY',
 'Location_Mountain View, CA',
 'Location_New York, NY',
 'Location_Newark, CA',
 'Location_Newark, NJ',
 'Location_Newport News, VA',
 'Location_Newtown Square, PA',
 'Location_Norfolk, VA',
 'Location_Northbrook, IL',
 'Location_Northfield, IL',
 'Location_Northlake, IL',
 'Location_Northridge, CA',
 'Location_Novato, CA',
 'Location_Oak Brook, IL',
 'Location_Oakland, CA',
 'Location_Palo Alto, CA',
 'Location_Paoli, PA',
 'Location_Parsippany, NJ',
 'Location_Pasadena, CA',
 'Location_Pasadena, TX',
 'Location_Pearland, TX',
 'Location_Philadelphia, PA',
 'Location_Phoenix, AZ',
 'Location_Pico Rivera, CA',
 'Location_Plano, TX',
 'Location_Pleasanton, CA',
 'Location_Plymouth Meeting, PA',
 'Location_Portsmouth, VA',
 'Location_Queens Village, NY',
 'Location_Radnor, PA',
 'Location_Redmond, WA',
 'Location_Redwood City, CA',
 'Location_Reedley, CA',
 'Location_Renton, WA',
 'Location_Richardson, TX',
 'Location_Ridley Park, PA',
 'Location_Riverton, UT',
 'Location_Rolling Meadows, IL',
 'Location_Round Rock, TX',
 'Location_Salt Lake City, UT',
 'Location_San Antonio, TX',
 'Location_San Diego, CA',
 'Location_San Francisco, CA',
 'Location_San Jose, CA',
 'Location_San Mateo, CA',
 'Location_San Rafael, CA',
 'Location_San Ramon, CA',
 'Location_Santa Clara, CA',
 'Location_Santa Monica, CA',
 'Location_Scottsdale, AZ',
 'Location_Seattle, WA',
 'Location_Secaucus, NJ',
 'Location_Smithfield, VA',
 'Location_South Plainfield, NJ',
 'Location_South San Francisco, CA',
 'Location_Southlake, TX',
 'Location_Spring, TX',
 'Location_Stafford, TX',
 'Location_Stanford, CA',
 'Location_Staten Island, NY',
 'Location_Suffolk, VA',
 'Location_Sugar Land, TX',
 'Location_Summit, NJ',
 'Location_Sunnyvale, CA',
 'Location_Tarrant, TX',
 'Location_Tempe, AZ',
 'Location_Topeka, KS',
 'Location_Torrance, CA',
 'Location_Union City, CA',
 'Location_Venice, CA',
 'Location_Virginia Beach, VA',
 'Location_Visalia, CA',
 'Location_Walnut Creek, CA',
 'Location_Wayne, PA',
 'Location_Weehawken, NJ',
 'Location_West Chester, PA',
 'Location_West Conshohocken, PA',
 'Location_West Jordan, UT',
 'Location_West Orange, NJ',
 'Location_West Point, PA',
 'Location_Westerville, OH',
 'Location_Westlake, TX',
 'Location_Whippany, NJ',
 'Location_Whitestown, IN',
 'Location_Whittier, CA',
 'Location_Wilmington, DE',
 'Location_Woodbridge, NJ',
 'Location_Woodcliff Lake, NJ',
 'Location_Woodland Hills, CA',
 'Location_Woodridge, IL',
 'Location_Yorktown, VA',
 'Size_Unknown',
 'Size_1 to 50 employees',
 'Size_51 to 200 employees',
 'Size_201 to 500 employees',
 'Size_501 to 1000 employees',
 'Size_1001 to 5000 employees',        
 'Size_5001 to 10000 employees',
 'Size_10000+ employees',
 'Type of ownership_Unknown',
 'Type of ownership_College / University',
 'Type of ownership_Company - Private',
 'Type of ownership_Company - Public',
 'Type of ownership_Contract',
 'Type of ownership_Franchise',
 'Type of ownership_Government',
 'Type of ownership_Hospital',
 'Type of ownership_Nonprofit Organization',
 'Type of ownership_Other Organization',
 'Type of ownership_Private Practice / Firm',
 'Type of ownership_School / School District',
 'Type of ownership_Self-employed',
 'Type of ownership_Subsidiary or Business Segment',
 'Industry_Accounting',
 'Industry_Advertising & Marketing',
 'Industry_Aerospace & Defense',
 'Industry_Architectural & Engineering Services',
 'Industry_Audiovisual',
 'Industry_Automotive Parts & Accessories Stores',
 'Industry_Banks & Credit Unions',
 'Industry_Beauty & Personal Accessories Stores',
 'Industry_Biotech & Pharmaceuticals',
 'Industry_Brokerage Services',
 'Industry_Building & Personnel Services',
 'Industry_Cable, Internet & Telephone Providers',
 'Industry_Casual Restaurants',
 'Industry_Catering & Food Service Contractors',
 'Industry_Chemical Manufacturing',
 'Industry_Colleges & Universities',
 'Industry_Commercial Equipment Repair & Maintenance',
 'Industry_Computer Hardware & Software',
 'Industry_Construction',
 'Industry_Consulting',
 'Industry_Consumer Electronics & Appliances Stores',
 'Industry_Consumer Product Rental',
 'Industry_Consumer Products Manufacturing',
 'Industry_Convenience Stores & Truck Stops',
 'Industry_Department, Clothing, & Shoe Stores',
 'Industry_Drug & Health Stores',
 'Industry_Education Training Services',
 'Industry_Electrical & Electronic Manufacturing',
 'Industry_Energy',
 'Industry_Enterprise Software & Network Solutions',
 'Industry_Express Delivery Services',
 'Industry_Federal Agencies',
 'Industry_Financial Analytics & Research',
 'Industry_Financial Transaction Processing',
 'Industry_Food & Beverage Manufacturing',
 'Industry_Food & Beverage Stores',
 'Industry_Gambling',
 'Industry_Gas Stations',
 'Industry_General Merchandise & Superstores',
 'Industry_General Repair & Maintenance',
 'Industry_Grocery Stores & Supermarkets',
 'Industry_Health Care Products Manufacturing',
 'Industry_Health Care Services & Hospitals',
 'Industry_Health Fundraising Organizations',
 'Industry_Health, Beauty, & Fitness',
 'Industry_Home Centers & Hardware Stores',
 'Industry_Hotels, Motels, & Resorts',
 'Industry_IT Services',
 'Industry_Industrial Manufacturing',
 'Industry_Insurance Agencies & Brokerages',
 'Industry_Insurance Carriers',
 'Industry_Internet',
 'Industry_Investment Banking & Asset Management',
 'Industry_K-12 Education',
 'Industry_Legal',
 'Industry_Lending',
 'Industry_Logistics & Supply Chain',
 'Industry_Membership Organizations',
 'Industry_Metals Brokers',
 'Industry_Miscellaneous Manufacturing',
 'Industry_Motion Picture Production & Distribution',
 'Industry_Municipal Governments',
 'Industry_News Outlet',
 'Industry_Oil & Gas Services',
 'Industry_Other Retail Stores',
 'Industry_Pet & Pet Supplies Stores',
 'Industry_Preschool & Child Care',
 'Industry_Publishing',
 'Industry_Real Estate',
 'Industry_Research & Development',
 'Industry_Security Services',
 'Industry_Social Assistance',
 'Industry_Sporting Goods Stores',
 'Industry_Sports & Recreation',
 'Industry_Staffing & Outsourcing',
 'Industry_State & Regional Agencies',
 'Industry_Stock Exchanges',
 'Industry_TV Broadcast & Cable Networks',
 'Industry_Telecommunications Services',
 'Industry_Transportation Equipment Manufacturing',
 'Industry_Transportation Management',
 'Industry_Truck Rental & Leasing',
 'Industry_Trucking',
 'Industry_Utilities',
 'Industry_Vehicle Dealers',
 'Industry_Venture Capital & Private Equity',
 'Industry_Video Games',
 'Industry_Wholesale',
 'Sector_Accounting & Legal',
 'Sector_Aerospace & Defense',
 'Sector_Arts, Entertainment & Recreation',
 'Sector_Biotech & Pharmaceuticals',
 'Sector_Business Services',
 'Sector_Construction, Repair & Maintenance',
 'Sector_Consumer Services',
 'Sector_Education',
 'Sector_Finance',
 'Sector_Government',
 'Sector_Health Care',
 'Sector_Information Technology',
 'Sector_Insurance',
 'Sector_Manufacturing',
 'Sector_Media',
 'Sector_Mining & Metals',
 'Sector_Non-Profit',
 'Sector_Oil, Gas, Energy & Utilities',
 'Sector_Real Estate',
 'Sector_Restaurants, Bars & Food Services',
 'Sector_Retail',
 'Sector_Telecommunications',
 'Sector_Transportation & Logistics',
 'Sector_Travel & Tourism',
 'Revenue_Unknown / Non-Applicable',
 'Revenue_Less than $1 million (USD)',
 'Revenue_$1 to $5 million (USD)',
 'Revenue_$5 to $10 million (USD)',
 'Revenue_$10 to $25 million (USD)',
 'Revenue_$25 to $50 million (USD)',
 'Revenue_$50 to $100 million (USD)',
 'Revenue_$100 to $500 million (USD)',
 'Revenue_$500 million to $1 billion (USD)',
 'Revenue_$1 to $2 billion (USD)',
 'Revenue_$2 to $5 billion (USD)',
 'Revenue_$5 to $10 billion (USD)',
 'Revenue_$10+ billion (USD)']

In [30]:
X_dummies = X_dummies[cols2]
X_dummies

,Rating,"Location_Addison, TX","Location_Alachua, FL","Location_Alameda, CA","Location_Alhambra, CA","Location_Allegheny West, PA","Location_Allen, TX","Location_American Fork, UT","Location_Anaheim, CA","Location_Arcadia, CA",...,Revenue_$5 to $10 million (USD),Revenue_$10 to $25 million (USD),Revenue_$25 to $50 million (USD),Revenue_$50 to $100 million (USD),Revenue_$100 to $500 million (USD),Revenue_$500 million to $1 billion (USD),Revenue_$1 to $2 billion (USD),Revenue_$2 to $5 billion (USD),Revenue_$5 to $10 billion (USD),Revenue_$10+ billion (USD)
0,3.2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,3.8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3.4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,3.9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,4.1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1890,2.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1891,2.9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1892,3.1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1893,3.4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [31]:

X_dummies.keys()

Index(['Rating', 'Location_Addison, TX', 'Location_Alachua, FL',
       'Location_Alameda, CA', 'Location_Alhambra, CA',
       'Location_Allegheny West, PA', 'Location_Allen, TX',
       'Location_American Fork, UT', 'Location_Anaheim, CA',
       'Location_Arcadia, CA',
       ...
       'Revenue_$5 to $10 million (USD)', 'Revenue_$10 to $25 million (USD)',
       'Revenue_$25 to $50 million (USD)', 'Revenue_$50 to $100 million (USD)',
       'Revenue_$100 to $500 million (USD)',
       'Revenue_$500 million to $1 billion (USD)',
       'Revenue_$1 to $2 billion (USD)', 'Revenue_$2 to $5 billion (USD)',
       'Revenue_$5 to $10 billion (USD)', 'Revenue_$10+ billion (USD)'],
      dtype='object', length=379)

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y_label, random_state=1)

In [35]:
# Scale the X data using StandardScaler()
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_train_scaled

array([[ 0.17531808, -0.02654659, -0.02654659, ..., -0.26625156,
        -0.161281  ,  2.97676185],
       [ 1.04844974, -0.02654659, -0.02654659, ..., -0.26625156,
        -0.161281  , -0.33593551],
       [ 0.28445953, -0.02654659, -0.02654659, ..., -0.26625156,
        -0.161281  , -0.33593551],
       ...,
       [ 0.28445953, -0.02654659, -0.02654659, ..., -0.26625156,
        -0.161281  , -0.33593551],
       [-0.37038922, -0.02654659, -0.02654659, ..., -0.26625156,
         6.20035841, -0.33593551],
       [ 0.39360099, -0.02654659, -0.02654659, ..., -0.26625156,
        -0.161281  ,  2.97676185]])

In [36]:
# Transform the test dataset based on the fit from the training data
X_test_scaled = scaler.transform(X_test)
X_test_scaled

array([[ 1.48501558, -0.02654659, -0.02654659, ..., -0.26625156,
        -0.161281  , -0.33593551],
       [-0.80695505, -0.02654659, -0.02654659, ..., -0.26625156,
        -0.161281  , -0.33593551],
       [-0.37038922, -0.02654659, -0.02654659, ..., -0.26625156,
        -0.161281  ,  2.97676185],
       ...,
       [ 0.39360099, -0.02654659, -0.02654659, ..., -0.26625156,
        -0.161281  , -0.33593551],
       [ 1.48501558, -0.02654659, -0.02654659, ..., -0.26625156,
        -0.161281  , -0.33593551],
       [ 1.26673266, -0.02654659, -0.02654659, ..., -0.26625156,
        -0.161281  , -0.33593551]])

In [ ]:
#X_train_scaled.to_csv("temp_scaled.csv")
#np.savetxt("temp_scaled.csv", X_train_scaled, delimiter=",")

In [ ]:
#np.savetxt("tempy_scaled.csv", y_train, delimiter=",")

In [37]:
# Train a Random Forest Classifier model on the scaled data and print the model score
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 0.8725352112676056
Testing Score: 0.21940928270042195

In [38]:
#Make predictions
predictions = clf.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

c:\users\jenin\.pyenv\pyenv-win\versions\3.9.6\lib\site-packages\sklearn\base.py:438: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

First 10 Predictions:   [23 59 68 20 68 77 83 50 23 77]
First 10 Actual labels: [79, 29, 53, 44, 63, 85, 23, 66, 7, 46]

In [39]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

     Prediction  Actual
0            23      79
1            59      29
2            68      53
3            20      44
4            68      63
..          ...     ...
469          50      33
470          50      14
471          23      67
472          77      25
473          56      49

[474 rows x 2 columns]

In [ ]:
# Save
# joblib.dump(clf, "ML_models.pkl")

In [ ]:
# load
# loaded_rf = joblib.load("my_random_forest.joblib")